{% extends 'site/layout/default.html' %}

{% block body %}
<div class="page-portion pad-logo">
  <h1>Artists</h1>
  <hr>
  <section class="break-heavy">
    <h2>Visiting Selection</h2>
    <ul class="row unframe-x">
    {% for artist in template.artists.visitor.data %}
      <li class="four grid">
        {% if artist.website != '' %}
          <a href="http://{{ artist.website }}" target="_blank">{{ artist.artist }}</a>
        {% else %}
          <b>{{ artist.artist }}</b>
        {% endif %}
          <br><small>
            {% if artist.location == '' %}
              Earth
            {% else %}
              {{ artist.location }}
            {% endif %}
          </small></li>
    {% endfor %}
    </ul>

    <h2>Local Selection</h2>
    <ul class="row unframe-x">
    {% for artist in template.artists.local.data %}
      <li class="four grid">
        {% if artist.website != '' %}
          <a href="http://{{ artist.website }}" target="_blank">{{ artist.artist }}</a>
        {% else %}
          <b>{{ artist.artist }}</b>
        {% endif %}
          <br><small>
            {% if artist.location == '' %}
              Earth
            {% else %}
              {{ artist.location }}
            {% endif %}
          </small></li>
        </li>
    {% endfor %}
    </ul>
  </section>
</div>
{% endblock body %}

{% block script %}
{% endblock script %}
