{% extends 'site/layout/default.html' %}

{% block body %}
<div class="page-portion">
<h1>Contact</h1>
<hr>

<form id="EmailSubmitForm">
  {{ template.email.csrf_token }}
  <div class="row">
    <label class="three grid">Email:</label>
    {{ template.email.email(id="UserEmail", class="nine grid", type="email", placeholder="me@email.com",required="required") }}
  </div>
  <div class="row">
    <label class="three grid">Message:</label>
    {{ template.email.message(id="UserMessage", class="nine grid", type="textarea", placeholder="Hello, my name is...") }}
  </div>
  <div class="row">
    <button id="EmailSubmit" type="submit" class="three grid unblock-right float-right">Submit</button>
  </div>
  {{ template.email.recaptcha }}
</form>
<script type="text/javascript">
  var email = new wrmotaForm({
    form: $('#EmailSubmitForm'),
    validate_items: [
      ['email', $('#UserEmail')]
    ],
    submit_url: 'api/subscribe',
    recaptcha: true
  });
  var handle_email_subscribe = new TouchClick('#EmailSubmit', function(el,e){
    e.preventDefault();
    email.validate();
  });
  function handleRecaptcha(){
    email.submit();
  }
</script>
</div>

{% endblock body %}
