{% extends 'site/layout/default.html' %}

{% block body %}
  <div class="page-portion">
    <h1>Credits</h1>
    <hr>
    <section class="row break-heavy">
      <p>WRMOTA is produced and organized by Michael Miller of Berks Community Murals in collaboration with Kayla Mattes and Justin Seibert of <a href="http://besttest.studio">BESTTEST</a>.</p>
      <p>The project is generously funded by West Reading Elm Street, a program of the West Reading Community Revitalization Foundation (<a href="http://wrcrf.org'">WRCRF</a>), along with the Wyomissing Area Education Foundation (<a href="wyoarea-foundation.org">WAEF</a>) and Wyomissing Area School District.</p>
      <p>WRMOTA would not be possible without the hard work and cooperation of the following participants:</p>
      <ul>
        <li><a href="http://facebook.com/Berks-Community-Murals-303283199762632">Michael Miller</a>, Creator<br><i>Resident Interviews, Local Artist Curation, Artwork Installation</i></li>
        <li><a href="http://kaylamattes.com">Kayla Mattes</a>, Co-creator<br><i>Visiting Artist Curation, Copywriting</i></li>
        <li><a href="http://damp.camp">Justin Seibert</a>, Co-creator<br><i>Design, Web and App Development</i></li>
        <li>Wyomissing Area High School's Public Art Workshop:<br><i>Site Identification</i><br> Michael L. Miller, Instructor</li>
        <li>Wyomissing Area High School's Humanities Class, WRMOTA Group:<br><i>Story Editing</i><br> Joelle Ostrich, Instructor</li>
        <li><a href="http://chadkouri.com">Chad Kouri</a><br><i>Brochure Design</i></li>
        <li><a href="http://pamshields.com">Pam Roule</a><br><i>Additional Artist Curation</i></li>
        <li><a href="http://daniellayacono.com">Daniella Yacono</a><br><i>Artwork Photography</i></li>
        <li>The residents and business owners of West Reading, PA.</li>
        <li>Map data <a href="http://openstreetmap.org/copyright">&copy;&nbsp;OpenStreetMap</a></li>
      </ul>
    </section>
  </div>
{% endblock body %}

{% block script %}
{% endblock script %}
