{% extends 'site/layout/default.html' %}
{% block body %}
<header id="introHeader" class="header-section u-card">
  <div class="header-background z9">
    <div class="u-background-cover" style="background-image:url('img/texture/wrmap-z15.png');opacity:0.4"></div>
  </div>
  <div class="u-background-cover" style="background-image:url('img/texture/wrmap-z17.png');opacity:0.3"></div>
  <div class="container-small">
    <div class="logo z99">
      {% include 'site/svg/logo.svg' %}
    </div>
  </div>
  <div data-goto="project" class="slide-button">
    <div class="slide-button-svg">
      {% include 'site/svg/arrow.svg' %}
    </div>
  </div>
</header>
<section id="introProject" class="project-section">
  <div class="u-card">
    <div class="project-background full u-lock-top">
      <div class="project-shape">
        <div class="u-background-cover" style="background-image:url('img/texture/brick.jpeg');opacity:0.4"></div>
      </div>
      <div id="BrickContainer" class="project-brick u-lock-center">
        <img id="GumParkerIMG" src="img/gum-parker-brick.jpg">
        <canvas id="BrickCanvas" class="about-canvas z9"></canvas>
        <div class="audio-playback-bar">
          <div id="AudioProgress" class="audio-progress"></div>
        </div>
      </div>
      <div id="PlayButton" class="play-button u-lock-center z99 u-hide">
        <div id="PLAY">
          {% include 'site/svg/play.svg' %}
        </div>
        <div id="PAUSE" class="u-hide">
          {% include 'site/svg/pause.svg' %}
        </div>
      </div>
    </div>
    <div class="container-medium frame-medium full z99">
      <p>During the summer of 2018, West Reading Museum of Temporary Art invites neighbors and visitors alike to explore a selection of site-specific installations.</p>
      <div class="u-lock-bottom align-right frame-medium">
        <p>Each installation is a collaboration between local residents and an artist from around the world.</p>
        <div data-goto="about" class="slide-button">
          <div class="slide-button-svg">
            {% include 'site/svg/arrow.svg' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="introAbout" class="about-section u-card">
  <div class="u-background-cover" style="background-image:url('img/west-reading-homes.jpg');opacity:0.2"></div>
  <div class="row about-white">
    <div class="container-medium frame-medium">
      <p>Short interviews and tiny murals add up to the story of a place, its people and the personal histories experienced along its streets.</p>
    </div>
  </div>
  <div class="about-bricks break-medium">
    {% for i in range(22) %}
      <div class="brick"></div>
    {% endfor %}
  </div>
  <div class="container-medium frame-medium">
    <p>A digital platform will serve as a guide for finding the artworks and navigating the unique character of West Reading, PA.</p>
    {% include 'site/email.html' %}
  </div>
</section>
{% endblock body %}

{% block script %}
  <script type="text/javascript">
    var util = {};
    var geometry = {};
    var audio = {};
    var doc = {
      w: 0,
      h: 0,
      offset: {
        header: 0,
        project: 0,
        about: 0
      },
      resize: 0,
      canvas: {
        elem: 0,
        container: 0,
        ctx: 0,
        w: 0,
        h: 0,
        play: 0,
        wave: 0
      },
      audio: 0,
      duration: 0
    }

    $(document).ready(function(){
      util.getOffsets();
      util.canvasSetup();
      var slidebutton = new TouchClick('.slide-button', util.scrollTo);
      var playbutton = new TouchClick('#PlayButton', util.canvasState);
      doc.audio = new Howl({
        src: ['audio/gumparker.webm', 'audio/gumparker.mp3']
      })
      doc.audio.on('load', function(){
        $('#PlayButton').removeClass('u-hide');
        doc.duration = doc.audio.duration();
      })
      doc.audio.on('end', function(){
        util.canvasState();
      })
      doc.resize = new Listener({ resizeFunctions: [util.getOffsets,util.canvasSize]});
    })

    util.getOffsets = function(){
      doc.offset.header = $('#introHeader').offset().top;
      doc.offset.project = $('#introProject').offset().top;
      doc.offset.about = $('#introAbout').offset().top;
    }


    util.scrollTo = function(el,e){
      var elem = el.dataset.goto;
      console.log(el,elem,e);
      $('html,body').animate({
        scrollTop: doc.offset[elem]
      }, 750, 'swing');
    }

    util.canvasSetup = function(){
      doc.canvas.elem = document.getElementById('BrickCanvas');
      doc.canvas.ctx = doc.canvas.elem.getContext('2d');
      doc.canvas.container = document.getElementById('BrickContainer');

      doc.canvas.wave = document.createElement('img');
      doc.canvas.wave.onload = function(){
        util.canvasSize();
      }
      doc.canvas.wave.src = 'img/waveform.png'
      doc.canvas.play = false;
    }

    util.canvasSize = function(){
      var w = doc.canvas.container.clientWidth;
      var h = doc.canvas.container.clientHeight;

      if (w != doc.canvas.w || h != doc.canvas.h){
        doc.canvas.w = doc.canvas.elem.width = w;
        doc.canvas.h = doc.canvas.elem.height = h;

        var ctx = doc.canvas.ctx;
        var extension = (h/2)*Math.tan(geometry.radian(50));
        doc.canvas.x = [
          w*0.5+extension,
          w*0.5-extension
        ]
        ctx.fillStyle = '#FFF';
        ctx.beginPath();
        ctx.moveTo(0,0);
        ctx.lineTo(doc.canvas.x[0],0);
        ctx.lineTo(doc.canvas.x[1],h);
        ctx.lineTo(0,h);
        ctx.clip();

        ctx.fillRect(0,0,w,h);
        ctx.drawImage(doc.canvas.wave,0,0,w,h);
      }
    }

    util.canvasState = function(){
      var translate = 0
      if (!doc.canvas.play){
        translate = doc.canvas.w/-2;
        doc.canvas.play = true;
        doc.audio.play();
        audio.step();
        $('#PLAY').addClass('u-hide');
        $('#PAUSE').removeClass('u-hide');
      } else {
        doc.canvas.play = false;
        doc.audio.pause();
        $('#PAUSE').addClass('u-hide');
        $('#PLAY').removeClass('u-hide');
      }
      $('#PlayButton, #BrickCanvas').css({
        transform: 'translate3d('+translate+'px,0,0)'
      })
    }

    audio.step = function(){
      var seek = doc.audio.seek() || 0;
      var progress = Math.round(seek / doc.duration * 100) + '%';
      $('#AudioProgress').css({
        width: progress
      })

      if (doc.audio.playing()) {
        requestAnimationFrame(audio.step.bind(this));
      }
    }

    geometry.radian = function(degree){
      return degree * (Math.PI / 180);
    }
  </script>
{% endblock script %}
