{% extends 'site/layout/default.html' %}

{% block body %}
<div class="page-portion">
  <h1>Privacy Policy</h1>
  <hr>
  <p>
    <small>As of June 6th, 2018</small>
  </p>
  <p>This privacy policy discloses the privacy practices for West Reading Museum of Temporary Art (WRMOTA, Project, "we", "our", "us"). This privacy notice applies solely to information collected by <a href="https://wrmota.org/">this Website</a> and the WRMOTA Apps available on <a href="https://itunes.apple.com/us/app/wrmota/id1373824275?mt=8">iTunes</a> and <a href="https://play.google.com/store/apps/details?id=org.wrmota.app">Google Play</a> (Properties). It will notify you of the following:</p>
  <ul>
    <li>What personally identifiable information is collected from you through our Properties, how it is used and with whom it may be shared.</li>
    <li>What choices are available to you regarding the use of your data.</li>
    <li>The security procedures in place to protect the misuse of your information.</li>
    <li>How you can correct any inaccuracies in the information.</li>
  </ul>

  <h2>Involved Entities</h2>
  <p>WRMOTA is Michael Miller of <a href="https://www.facebook.com/Berks-Community-Murals-303283199762632/">Berks Community Murals</a> and Kayla Mattes and Justin Seibert of <a href="https://besttest.studio">BESTTEST</a>.</p>
  <p>WRMOTA receives support from the West Reading Community Revitalization Foundation (<a href="http://wrcrf.org/">WRCRF</a>), the Wyomissing Area Education Foundation (<a href="http://wyoarea-foundation.org/">WAEF</a>) and Wyomissing Area School District (<a href="http://www.wyoarea.org/">WASD</a>).</p>

  <h2>Information Collection, Use, and Sharing</h2>
  <p>WRMOTA is the sole owner of the information collected by our Properties. If shared, information collected by our Properties may be shared with the Involved Entities.</p>
  <p><em>By and large, the purpose of our data collection is directed at evaluating the effectiveness of this Project, securing additional funding for this Project and future Projects like it, and detecting potential technical issues among our Properties.</em></p>

  <h3>Personally Identifiable Data</h3>
  <p>We only have access to/collect Personally Identifiable Data (i.e. name, email) that you voluntarily give us via email (i.e. newsletter sign-up, contact form) or other direct form of contact. We will never sell or rent Personally Identifiable Information to anyone.</p>
  <p>We will use your information to respond to you regarding the reason you volunteered your information. We will not share your information with any third party outside of our Involved Entities, other than as necessary to fulfill your request.</p>
  <p>Unless you ask us not to (i.e. unsubscribe), our Invovled Entities may contact you via email in the future to tell you about news and events related to WRMOTA, projects launched by our Involved Entities, or changes to this privacy policy.</p>

  <h3>Anonymous Data</h3>
  <p>We collect Anonymous Data (i.e. Website and App usage statistics) from our Properties. Our Properties record this information using analytics software provided by Google Analytics, Google Play Console and Apple's App Store Connect.</p>
  <p>Anonymous Data can include information such as your device's operating system, version, browser type, browser version, the pages and/or screens of our Properties that you visit, the time and date of your visit, the time spent on those pages/screens.</p>
  <p>We also collect Event-based information related to our Apps such as installation, media playback and clicks to external links.</p>

  <h3>Geolocation Data</h3>
  <p>Our Properties use Google Analytics to collect Anonymous Data about your usage. Google Analytics is able to infer your general location based on the Internet Protocal (IP) Address of your device. This location data is generalized and limited to the scale of a city (i.e. West Reading).</p>
  <p>Our Apps send Event-based data to Google Analytics when you listen to the audio recordings among our collection. While this Event does not include exact location information, each audio recording in our Project is associated with a specific street-level address and the location of the Event can therefore be assumed. However, all Event data sent by your device remains anonymous and can not be used to identify you personally.</p>
  <p>Our Apps contain a feature that allows you to find your location on the map. We do not record this Event. The use of this feature and the data associated with it is limited to your device and is never collected by us.</p>

  <h3>Cookies and Data Storage</h3>
  <p>We use Cookies on our Website. A Cookie is a piece of data stored in a device's hard drive or memory to help improve access to our Website and identify repeat visits. Cookies do not contain any personally identifiable information.</p>
  <p>When using our Apps, we store data on your device to help improve your experience. For instance, we use the device storage to recognize the first use of our Apps and display an introductory slideshow. This data can be erased by following your device's data removal procedure or via certain circumstances such as reinstalling our App.</p>

  <h3>Links</h3>
  <p>Our Properties contain URL links to other sites. Please be aware that we are not responsible for the content or privacy practices of such other sites. We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that may implement data collection.</p>

  <h2>Your Access to and Control Over Information</h2>
  <p>You may opt out of future contacts (i.e. email newsletters) from WRMOTA at any time. You can do so by clicking the Unsubscribe button from our emails.</p>
  <p>You may also do any of the following by contacting us via the Contact Form available on our website:</p>
  <ul>
    <li>See what data we have about you, if any.</li>
    <li>Change/correct any data we have about you.</li>
    <li>Have us delete any data we have about you.</li>
    <li>Express any concern you have about our use of your data.</li>
  </ul>
  <p></p>

  <h2>Security</h2>
  <p>We take precautions to protect your information. When you submit Personally Identifiable Data via our Properties, your information is protected both online and offline.</p>
  <p>Whenever we collect Personally Identifiable Information from our Website, that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.</p>
  <p>Anonymous Data such as usage and event information sent between our Properties and our Analytics Software is also securely encrypted.</p>
  <p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only members who need the information to perform a specific action are granted access to Personally Identifiable Data and/or Anonymous Data. The computers and servers in which we store Data are kept in a secure environment.</p>

  <p><small>End of Privacy Policy</small></p>
</div>
{% endblock body %}

{% block script %}
{% endblock script %}
