.photo-guide {
  .status {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #ff384c;
    }
    &.good:after {
      background: #30d056;
    }
    &.okay:after {
      background: #deff00;
    }
  }
}

.photo-block {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.photo-search-block {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.search-menu-button {
  background: #e4e4e4;
  padding: 8px;
  svg {
    top: 0;
    left: 0;
    display: block;
    fill: #5b5b5b;
    width: 100%;
  }
}
