*.swp
*.bak

.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes

*.pyc
*.log
*.sql
*.db
*.sqlite

*.sh

/__init__.py
/config.py
/config_private.py

/ionic/*
/etc/*
/static/site/media/*
/static/.webassets-cache/*
/venv*/*
*/__pycache__/*

**/all.min.css
**/admin.min.css
**/all.min.js
**/lib.min.js
