{% extends 'admin/layout/data.html' %}

{% block body %}
<div class="row">
  <div class="grid frame-light">
    <aside class="row">
      <p>Use the dropdown options to narrow a selection of artists. Hitting the <em>draft email</em> button will open up a new email draft in your preferred editor with the selected artists BCC'd and ready to go.</p>
    </aside>
    <header class="row break-medium">
      <div class="row">
        <label>Send emails to</label>
        <select id="List" name="list" class="select-feature">
          {% for item in template.curators %}
            <option value="{{item}}" {% if item == 'none' %}selected="selected"{% endif %}>{{ template.curators[item] }}</option>
          {% endfor %}
        </select>
        <label> artists</label>
      </div>
      <div class="row">
        <label>Filter artists by</label>
        <select id="Filter" name="filter" class="select-feature">
          {% for item in template.options %}
            <option value="{{ item }}" {% if item == 'none' %}selected="selected"{% endif %}>{{ template.options[item] }}</option>
          {% endfor %}
        </select>
        <label> if</label>
        <select id="Boolean" name="boolean" class="select-feature">
          <option value="0">no</option>
          <option value="1">yes</option>
        </select>
      </div>
      <button id="DraftIt" class="green button">draft email</button>
      <button id="CopyIt" class="green button">copy emails</button>
    </header>
    <section id="CherryPicker" class="row"></section>
  </div>
</div>
{% endblock body %}

{% block script %}
<script src="{{ url_for('_admin.static', filename='js/clipboard.min.js') }}"></script>
<script>
  var all_data = {{ template.artist.data|tojson }};
  var elem = {
    list: document.getElementById('List'),
    filter: document.getElementById('Filter'),
    boolean: document.getElementById('Boolean'),
    selection: document.getElementById('CherryPicker'),
    form: document.getElementById('ArtistForm'),
  }
  $(document).ready(function(){
    var draft_it = new TouchClick('#DraftIt',draft_email);
    var clipboard = new ClipboardJS('#CopyIt', {
      text: function(el){
        var email = get_email_string();
        if (email.length > 0){
          return email;
        }
      }
    });
    clipboard.on('success', function(e){
      var alert_copy = new wrmotaForm({
        form: false,
      });
      var data = {
        message: 'copied emails to clipboard',
        errors: false
      }
      alert_copy.showMessage(data)
      e.clearSelection();
    })
  });

  $('.select-feature').on('change', function(){
    var curator = elem.list.value;
    var filt = elem.filter.value;
    var bool = elem.boolean.value;
    var artists = get_artists(curator,filt,bool);
    create_check_list(artists)
  });

  function get_email_string(){
    var form = document.getElementById('ArtistForm');
    var emails = '';
    if (form) {
      var input = form.elements;
      for (var i = 0,len = input.length; i < len; i++){
        if (input[i].checked){
          emails += input[i].value + ','
        }
      }
    } else {
      alert('you need to select some artists');
    }
    return emails;
  }

  function draft_email(el,e){
    var emails = get_email_string();
    if (emails.length > 0){
      var mailto = 'mailto:?bcc=' + emails;
      window.open(mailto, 'blank');
    }
  }

  function create_check_list(a){
    elem.selection.innerHTML = '<p>Use the check boxes to refine your selection.</p>';
    var form = document.createElement('form');
    form.id = 'ArtistForm';
    form.className = 'row';
    for (var i = 0, len = a.length; i < len; i++){
      var label = document.createElement('label');
      var input = document.createElement('input');
      var span = document.createElement('span');

      var id = 'artist_'+a[i].id;
      label.className = 'boolean-label four grid';
      label.for = id;
      input.name = id;
      input.type = 'checkbox';
      input.value = a[i].email;
      input.checked = 'checked';
      span.innerHTML = a[i].artist;

      label.appendChild(input);
      label.appendChild(span);
      form.appendChild(label);
    }
    elem.selection.appendChild(form);
  }

  function get_artists(curator,filt,bool){
    if (curator == 'all' && filt == 'none'){
      return all_data;
    } else if (curator == 'all' && filt != 'none'){
      return filter_by(all_data,filt,bool);
    } else if (curator != 'all' && curator != 'none' && filt == 'none'){
      return get_list_by(curator);
    } else if (curator != 'all'  && curator != 'none' && filt != 'none'){
      var list = get_list_by(curator);
      return filter_by(list,filt,bool);
    }
  }

  function filter_by(list,filter,boolean){
    var data = [];
    for (var i = 0; i < list.length; i++){
      var item = list[i];
      if (item[filter] == boolean){
        data.push(item);
      }
    }
    return data;
  }

  function get_list_by(curator){
    var data = [];
    for (var i = 0; i < all_data.length; i++){
      var item = all_data[i];
      if (item.curator == curator){
        data.push(item);
      }
    }
    return data;
  }
</script>
{% endblock script %}
