.info {
  padding-top: $heavy;
}
.dl-badge {
  height: 40px;
}

.player-controls {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
  .play-button {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    svg {
      fill: white;
    }
  }
  .skip-button {
    transition: transform 100ms;
    &:active {
      transform: scale3d(1.5,1.5,1.5);
    }
  }
  .playback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
      width: 1em;
    }
  }
  .audio-playback-bar {
    width: calc(100% - 4em);
    height: 1em;
    background: color($colors,green);
    overflow: hidden;
  }
  .audio-progress {
    height: 100%;
    width: 100%;
    transform: translate3d(0,0,0);
    background: color($colors,dust);
    transition: transform 100ms;
  }
  h1,h2 {
    display: block;
  }
  h1 {
    font-size: 1.3em;
    margin: 0;
  }
  h2 {
    font-family: 'Bitter';
    font-size: 1em;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-max){
  .dl-badge {
    height: 50px;
  }
  .info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .player-controls {
    margin: 0;
    transform: perspective(100px) rotateY(-1deg);
  }
  .info-block {
    position: relative;
    max-width: 45%;
  }
}
