{% extends 'admin/layout/map.html' %}
{% block body %}
<div id="Fullscreen" class="row">
  <div class="six grid">
    <input id="map-search" type="text" placeholder="search map">
    <div id="map"></div>
  </div>
  <div class="six grid">
    {% include 'admin/snippet/ajax-table.html' %}
  </div>
</div>
{% endblock body %}

{% block script %}
  <script type="text/javascript" src="{{ url_for('_admin.static', filename='js/google.js') }}"></script>
  <script>
    var table,
        tr_click,
        sites;
    var allow_latlngDrag = {{ template.allow_latlngDrag }};
    function initData(){
      table = new TableData({
        name: 'address',
        url: '/api/v1/get/readable',
        crop: true,
        rmCols: [
          'id',
          'address_meta_id',
          'artist_id',
          'artist_meta_id',
          'visitor',
          'art_received',
          'audio_id',
          'audio_directory',
          'audio',
          'image_id',
          'image_directory',
          'image',
          'story_id'
        ],
        callback: createMap,
        rowClickCallback: show_site_from_table,
        editable: [
          'website',
          'location',
          'story'
        ]
      });
    }
    function createMap(data){
      sites = data;
      initMap();
    }
  </script>
{% endblock script %}
