{% extends 'admin/layout/map.html' %}
{% block body %}
<div id="Fullscreen" class="row">
  <div class="six grid">
    <input id="map-search" type="text" placeholder="search map">
    <div id="map"></div>
  </div>
  <div class="six grid">
    {% include 'admin/snippet/table2.html' %}
  </div>
</div>
{% endblock body %}

{% block script %}
  <script type="text/javascript" src="{{ url_for('_admin.static', filename='js/google2.js') }}"></script>
  <script>
    var table;
    var tr_click;
    $(document).ready(function(){
      table = new TableData({
        name: 'address',
        url: '/api/v1/get/map',
        crop: true,
        rmCols: ['id','lat','lng','website','audio_dir','audio','image_dir','image']
      });
      tr_click= new TouchClick('.table-row',show_site_from_table);
    });

  </script>
{% endblock script %}
