<!DOCTYPE html>
<html>
  <head>
    <title>wrmota</title>
    {% include 'site/snippet/meta.html' %}
    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400|Lato:400,700|Alegreya|Bitter" rel="stylesheet">
    {% assets 'css_site' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets 'js_lib' %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.7/howler.core.min.js"></script>
  </head>
  <body id="Body">
    {% include 'site/snippet/ajax-alert.html' %}

    {% block body %}
    {% endblock body %}

    <footer id="introFooter" class="row golden-container">
      <div class="attribution-section container-medium frame-heavy align-center">
        <small>A project by <a href="https://www.facebook.com/Berks-Community-Murals-303283199762632/" target="_blank">Berks Community Murals</a> in collaboration with <a href="https://besttest.studio" target="_blank" title="Kayla Mattes and Justin Seibert">BESTTEST</a><br>Presented by <a href="http://www.wrcrf.org/" target="_blank">West Reading Community Revitalization Foundation</a></small>
      </div>
    </footer>

    {% block script %}
    {% endblock script %}
  </body>
</html>
