{% extends 'admin/layout/data.html' %}
{% block body %}

  {% include 'admin/snippet/table.html' %}

{% endblock body %}

{% block script %}
<script>
  var tables = [
    {% for table in template.tables %}'{{ table }}',{% endfor %}
  ];
  var table = {};
  $(document).ready(function(){
    for (var i = 0, t = tables.length; i < t; i++){
      var name = tables[i];
      var hide_state = (i > 0) ? true : false;
      table[name] = new TableData({
        name: tables[i],
        hide: true,
        crop: true,
      })
    }
    table['address'].show();
    var select_table = new TouchClick('.select-table-button', function(elem,evt){
      var name = elem.dataset.table;
      table[name].show();
    })
  })
</script>

{% endblock script %}
