{% extends 'admin/layout/default.html' %}
{% block body %}
  <div id="pageBrick" class="page">
    <canvas id="canvasBrick" class="subpage" width="768" height="192" data-paper-resize="true">
      <p class="yellow row align-center no-print">you browser doesn't support <b>canvas</b> elements which are necessary to run this page</p>
    </canvas>
  </div>
  <section class="row no-print">
    <button type="button" class="blue button float-left" onclick="brick.draw.map();">map</button>
    <button type="button" class="blue button float-right" onclick="brick.print();">print</button>
    <div class="row">
      <ul>
        <li>click the line segment to add a point</li>
        <li>drag a point to reshape the line</li>
        <li>hold shift and click a point to remove it</li>
        <li>end points are disabled</li>
      </ul>
    </div>
    <div id="pageMap" class="page">
      <canvas id="canvasMap" class="subpage" width="768" height="768" data-paper-resize="true"></canvas>
    </div>
  </section>
{% endblock body %}

{% block script %}
  <script type="text/javascript" src="{{ url_for('_admin.static', filename='js/brick-builder.js') }}"></script>
  <script type="text/javascript">
    var brick;
    window.onload = function() {
      brick = new Brick();
    }
  </script>
{% endblock script %}
