{% extends 'admin/layout/default.html' %}
{% block body %}
  <section class="no-print row">
    <label>segments:</label>
    <input id="divisions" onchange="resegment(this.value);" name="divisions" type="number" value="10" min="1" class="grey">
  </section>
  <div id="pageBrick" class="page">
    <canvas id="canvasBrick" class="subpage" width="768" height="192" resize>
      <p class="yellow row align-center no-print">you browser doesn't support <b>canvas</b> elements which are necessary to run this page</p>
    </canvas>
  </div>
  <button type="button" class="blue button float-right" onclick="brick.print();">print</button>
{% endblock body %}

{% block script %}
  <script type="text/javascript" src="{{ url_for('_admin.static', filename='js/brick-builder.js') }}"></script>
  <script type="text/javascript">
    var brick;
    window.onload = function() {
      brick = new Brick({
        segment: 10
      });
      brick.init();
    }
    function resegment(n){
      brick.args.segment = n;
      brick.init();
    }
  </script>
{% endblock script %}
