{% extends 'admin/layout/map.html' %}
{% block body %}
<div class="row">
  <div class="six grid">
    <input id="map-search" type="text" placeholder="search map">
    <div id="map"></div>
  </div>
</div>
{% endblock body %}

{% block script %}
  <script>
  var map;
  var elem = {
    'map': document.getElementById('map')
  }
  function initMap() {
    var h = window.innerHeight;
    elem.map.style.height = h+'px';

    var styles = [
      {
        "featureType": "poi",
        "elementType": "labels.text",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "poi.business",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "road",
        "elementType": "labels.icon",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      },
      {
        "featureType": "transit",
        "stylers": [
          {
            "visibility": "off"
          }
        ]
      }
    ];
    var style_map = new google.maps.StyledMapType(styles);
    map = new google.maps.Map(elem.map, {
      center: {
        lat: 40.3358193,
        lng: -75.9466839
      },
      zoom: 17,
      zoomControl: false,
      mapTypeControl: false,
      mapTypeControlOptions: {
        mapTypeId: ['styled_map']
      },
    });
    map.mapTypes.set('styled_map', style_map);
    map.setMapTypeId('styled_map');

    var input = document.getElementById('map-search');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    var search_markers = [];
    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }

      // Clear out the old search_markers.
      search_markers.forEach(function(marker) {
        marker.setMap(null);
      });
      search_markers = [];

      // For each place, get the icon, name and location.
      var bounds = new google.maps.LatLngBounds();
      places.forEach(function(place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        var icon = {
          // url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(25, 25)
        };
        var marker = new google.maps.Marker({
          map: map,
          icon: icon,
          title: place.name,
          position: place.geometry.location
        })
        var infowindow = new google.maps.InfoWindow({
          content: '<span>'+place.name+'<br>'+place.geometry.location+'</span>'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
        // Create a marker for each place.
        search_markers.push();

        if (place.geometry.viewport) {
          // Only geocodes have viewport.
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });
  }
  </script>
{% endblock script %}
