{% extends 'admin/layout/default.html' %}
{% block body %}
<div class="frame-light">
  <h1>admin</h1>

  <nav class="row admin-nav">
    <h2>View</h2>
    <ul class="row break-heavy">
      <li><a href="/admin/map">map</a></li>
      <li><a href="/admin/data">data tables</a></li>
      <li><a href="/admin/permutation/4x4">color codes</a> 4x4</li>
      <li><a href="/admin/permutation/5x3">color codes</a> 5x3</li>
    </ul>
    <h2>Edit</h2>
    <ul class="row break-heavy">
      <li><a href="/admin/edit/artists">artists</a></li>
    </ul>
    <ul class="row break-heavy">
      <li><a href="/admin/logout">logout</a></li>
    </ul>
  </nav>
</div>
{% endblock body %}
