{% extends 'admin/layout/default.html' %}
{% block body %}
<div class="frame-light">
  <h1>admin</h1>

  <nav class="row admin-nav">
    <ul class="row break-heavy">
      <li><a href="/admin/view/map">View/Edit Data</a></li>
      <li><a href="/admin/task/email">Email Artists</a></li>
    </ul>
    {% if template.superuser %}
    <ul class="row break-heavy">
      <li><a href="/admin/task/newsletter">Send Newsletter</a></li>
    </ul>
    {% endif %}
    <ul class="row break-heavy">
      <li><a href="/admin/logout">logout</a></li>
    </ul>
  </nav>
</div>
{% endblock body %}
