<title>WRMOTA{% if template.title %} : {{ template.title }} {% endif %} </title>
{% include 'site/snippet/meta.html' %}

<link href="https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400|Bitter:400,700" rel="stylesheet">

{% assets 'css_site' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}

{% assets 'js_vue' %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% if template.analytics %}
  {% include 'site/snippet/analytics.html' %}
{% endif %}
