<meta name="description" content="{% if template.description %}{{ template.description }}{% else %}A collection of over 100 murals by artists from around the world. Download the app on iTunes and Google Play to explore the works along the streets of West Reading, PA and hear the local stories that inspired them. {% endif %}">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">

<meta property="og:title" content="West Reading Museum of Temporary Art" />
<meta property="og:type" content="website" />
<meta property="og:description" content="A collection of over 100 murals by artists from around the world. Download the app on iTunes and Google Play to explore the works along the streets of West Reading, PA and hear the local stories that inspired them." />
<meta property="og:url" content="https://wrmota.org" />
<meta property="og:image" content="https://wrmota.org/img/meta-homes.jpg"/>
<meta property="og:image" content="https://wrmota.org/img/meta-map.png"/>
<meta property="og:image" content="https://wrmota.org/img/meta-batten.jpg"/>
<meta property="og:image" content="https://wrmota.org/img/meta-fonda.jpg"/>
<meta property="og:image" content="https://wrmota.org/img/meta-glover.jpg"/>
<meta property="og:image" content="https://wrmota.org/img/meta-map2.jpg"/>

<link rel="apple-touch-icon" sizes="76x76" href="/img/icon/apple-touch-icon.png" />

{% include 'site/snippet/favicon.html' %}
