<!DOCTYPE html>
<html>
  <head>
    <title>admin: wrmota</title>
    {% assets 'css_site' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets 'css_admin' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets 'js_lib' %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </head>
  <body class="data-table">
    {% include 'admin/snippet/message.html' %}

    {% block body %}
    {% endblock body %}

    {% block script %}
    {% endblock script %}
  </body>
</html>
