<!DOCTYPE html>
<html>
  <head>
    <title>admin: wrmota</title>
    {% assets 'css_site' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets 'css_admin' %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets 'js_lib' %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </head>
  <body>
    {% include 'admin/snippet/message.html' %}
    {% block body %}
    {% endblock body %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ template.maps_api }}&callback=initMap&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.7/howler.core.min.js"></script>

    {% block script %}
    {% endblock script %}
  </body>
</html>
