<!DOCTYPE html>
<html>
  <head>
    <title>admin: wrmota</title>
    {% include 'admin/snippet/head.html' %}
  </head>
  <body>
    {% include 'admin/snippet/message.html' %}
    {% include 'site/snippet/ajax-alert.html' %}
    {% block body %}
    {% endblock body %}

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ template.maps_api }}&callback=initData&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.7/howler.core.min.js"></script>

    {% block script %}
    {% endblock script %}
  </body>
</html>
