{% extends 'admin/layout/photos.html' %}

{% block body %}
<div class="frame-light">
  <div class="row spaced">
    <h2>required photos:</h2>
  </div>
  <div class="row spaced">
    <div class="four grid">
      <p>1. artwork</p>
      <img src="/img/guide/sm-01a-0.jpg">
    </div>
    <div class="four grid">
      <p>2. visual bridge</p>
      <img src="/img/guide/sm-01b-1.jpg">
    </div>
    <div class="four grid">
      <p>3. environment</p>
      <img src="/img/guide/sm-01c-1.jpg">
    </div>
  </div>
  <hr class="u-mobile">
  <div class="row spaced">
    <div class="four grid">
      <p class="u-mobile">1. artwork</p>
      <img src="/img/guide/sm-02a-0.jpg">
    </div>
    <div class="four grid">
      <p class="u-mobile">2. visual bridge</p>
      <img src="/img/guide/sm-02b-0.jpg">
    </div>
    <div class="four grid">
      <p class="u-mobile">3. environment</p>
      <img src="/img/guide/sm-02c-1.jpg">
    </div>
  </div>
  <hr class="u-mobile">
  <div class="row spaced">
    <div class="four grid">
      <p class="u-mobile">1. artwork</p>
      <img src="/img/guide/sm-03a-0.jpg">
    </div>
    <div class="four grid">
      <p class="u-mobile">2. visual bridge</p>
      <img src="/img/guide/sm-03b-0.jpg">
    </div>
    <div class="four grid">
      <p class="u-mobile">3. environment</p>
      <img src="/img/guide/sm-03b-1.jpg">
    </div>
  </div>
  <div class="row spaced">
    <h2>wishlist photos:</h2>
  </div>
  <div class="row spaced">
    <div class="six grid"><img src="/img/guide/phone-01a.jpg"></div>
    <div class="six grid"><img src="/img/guide/phone-02b.jpg"></div>
  </div>
</div>
{% endblock body %}

{% block script %}
{% endblock script %}
