{% extends 'admin/layout/photos.html' %}

{% block body %}
<div class="frame-light">
  <h2>batch 1</h2>
  <div class="row spaced">
    <div class="four grid">
			<p>7188</p>
			<img src="/img/guide/artist/dada-00.jpg">
		</div>
    <div class="four grid">
			<p>7191</p>
			<img src="/img/guide/artist/dada-12.jpg">
		</div>
    <div class="four grid">
			<p>7195</p>
			<img src="/img/guide/artist/dada-20.jpg">
		</div>
  </div>
  <div class="row spaced">
    <div class="four grid">
			<p>7233</p>
			<img src="/img/guide/artist/dabd-00.jpg">
		</div>
    <div class="four grid">
			<p>7234</p>
			<img src="/img/guide/artist/dabd-10.jpg">
		</div>
    <div class="four grid">
			<p>7235</p>
			<img src="/img/guide/artist/dabd-15.jpg">
		</div>
  </div>
  <div class="row spaced">
    <div class="four grid">
			<p>7211</p>
			<img src="/img/guide/artist/dabc-00.jpg">
		</div>
    <div class="four grid">
			<p>7213</p>
			<img src="/img/guide/artist/dabc-10.jpg">
		</div>
    <div class="four grid">
			<p>7217</p>
			<img src="/img/guide/artist/dabc-25.jpg">
		</div>
  </div>
  <div class="row spaced">
    <div class="four grid">
			<p>7203</p>
			<img src="/img/guide/artist/adcd-00.jpg">
		</div>
    <div class="four grid">
			<p>7201</p>
			<img src="/img/guide/artist/adcd-10.jpg">
		</div>
    <div class="four grid">
			<p>7199</p>
			<img src="/img/guide/artist/adcd-13.jpg">
		</div>
  </div>
  <div class="row spaced">
    <div class="four grid">
			<p>7205</p>
			<img src="/img/guide/artist/adcb-00.jpg">
		</div>
    <div class="four grid">
			<p>7207</p>
			<img src="/img/guide/artist/adcb-10.jpg">
		</div>
    <div class="four grid">
			<p>7208</p>
			<img src="/img/guide/artist/adcb-20.jpg">
		</div>
  </div>
  <div class="row spaced">
    <div class="four grid">
			<p>7173</p>
			<img src="/img/guide/artist/acdc-00.jpg">
		</div>
    <div class="four grid">
			<p>7177</p>
			<img src="/img/guide/artist/acdc-10.jpg">
		</div>
    <div class="four grid">
			<p>7185</p>
			<img src="/img/guide/artist/acdc-20.jpg">
		</div>
  </div>
  <h2>missing segments</h2>
  <div class="row spaced">
    <div class="four grid">
			<p>7221</p>
			<img src="/img/guide/artist/bdbd-00.jpg">
		</div>
    <div class="four grid">
			<p>7223</p>
			<img src="/img/guide/artist/bdbd-10.jpg">
		</div>
    <div class="four grid full blue disabled"><p></p></div>
  </div>
  <div class="row spaced">
    <div class="four grid">
			<p>7218</p>
			<img src="/img/guide/artist/daba-00.jpg">
		</div>
    <div class="four grid blue disabled full"></div>
    <div class="four grid blue disabled full"></div>
  </div>
  <div class="row spaced">
    <div class="four grid">
			<p>7158</p>
			<img src="/img/guide/artist/adab-00.jpg">
		</div>
    <div class="four grid blue disabled full"></div>
    <div class="four grid">
			<p>7152</p>
			<img src="/img/guide/artist/adab-20.jpg">
		</div>
  </div>
  <div class="row spaced">
    <div class="four grid">
			<p>7159</p>
			<img src="/img/guide/artist/adac-00.jpg">
		</div>
    <div class="four grid blue disabled full"></div>
    <div class="four grid">
			<p>7165</p>
			<img src="/img/guide/artist/adac-20.jpg">
		</div>
  </div>
</div>
{% endblock body %}

{% block script %}
{% endblock script %}
