<link rel="icon" type="image/png" href="img/favicon.png">

{% assets 'css_site' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}

{% assets 'css_admin' %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}

{% assets 'js_lib' %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

{% if template.analytics %}
  {% include 'site/snippet/analytics.html' %}
{% endif %}
