<tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;">
  <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
    All the best,<br>
    The WRMOTA Team<br>
    <a href="https://wrmota.org" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;font-weight:700;color:#00F;text-decoration:none;">wrmota.org</a></br>
  </td>
</tr>
<tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;">
  <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
    Follow WRMOTA on <a href="https://www.facebook.com/wrmotaevent/" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;font-weight:700;color:#00F;text-decoration:none;">Facebook</a> and <a href="https://www.instagram.com/wrmota_org/" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;font-weight:700;color:#00F;text-decoration:none;">Instagram</a>.
  </td>
</tr>
