<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 16px; margin: 0;">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ template.title }}</title>
  {% include 'email/snippet/style.html' %}
  {% if template.include_analytics %}
    {% if template.analytics %}
        {% include 'site/snippet/analytics.html' %}
    {% endif %}
  {% endif %}
</head>
<body itemscope itemtype="http://schema.org/EmailMessage" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; background-color: #f6f6f6; margin: 0;" bgcolor="#f6f6f6">
  <table class="body-wrap" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; width: 100%; background-color: #f6f6f6; margin: 0; padding: 0; border: none; outline: none" bgcolor="#f6f6f6" cellpadding="0">
    <tbody>
      <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; margin: 0; border:none">
        <td class="container" width="600" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto;" valign="top">
          <div class="content" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; max-width: 600px; display: block; margin: 0 auto; padding: 0;">
            <table class="main" width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; background-color: #fff; margin: 5px 0;" bgcolor="#fff">
              <tbody>
                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 20px; margin: 0;">
                  <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 20px; vertical-align: top; color: #000; font-weight: 900; text-align: center; background-color: #FFFFFF; margin: 0; padding: 15px;padding-bottom:5px;" align="center" bgcolor="#FFFFFF" valign="top">
                    <a href="https://wrmota.org/" style="display:block;" title="Visit WRMOTA" alt="West Reading Museum of Temporary Art"><img src="https://wrmota.org/img/icon/apple-touch-icon.png" width="80" height="80"></a>
                  </td>
                </tr>
                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; margin: 0;">
                  <!-- START CONTENT CELL -->
                  <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; vertical-align: top; color: #000; font-weight: 400; text-align: left; background-color: #FFFFFF; margin: 0; padding: 0;" align="center" bgcolor="#FFFFFF" valign="top">
                    <table class="content-wrap" width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; background-color: #fff; margin: 0; padding: 10px 20px;" bgcolor="#fff" valign="top">
                      <tbody>
                        {% block message %}{% endblock message %}
                        {% include 'email/snippet/signature.html' %}
                      </tbody>
                    </table>
                  </td>
                  <!-- END CONTENT CELL -->
                </tr>
              </tbody>
            </table>
          </div>

          {% include 'email/snippet/footer.html' %}
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>
