.alert-bar,
  position: fixed
  top: 0
  left: 0
  width: 100%
  text-align: center
  font-size: 0.75em
  line-height: 1.6
  margin: 0
  overflow: hidden
  @extend .z-load
  font-family: 'Bitter', serif
  box-shadow: 0 3px 16px -6px $text
  .message
    padding: $medium $light
    background: white
    color: color($colors, white)
    &.success
      background: color($colors, blue)
    &.failure
      background: color($colors, red)

.loading-bar
  @extend .alert-bar
  box-shadow: none
  height: 5px
