=animate($name,$time,$iteration)
  -webkit-animation-name: $name
  animation-name: $name
  -webkit-animation-duration: $time
  animation-duration: $time
  -webkit-animation-iteration-count: $iteration
  animation-iteration-count: $iteration
  animation-fill-mode: both

=delay($time)
  -webkit-animation-delay: $time
  animation-delay: $time

.loading-animation
  +animate(loading,1s,infinite)

@-webkit-keyframes loading
  from,
  to
    opacity: 1
  50%
    opacity: .5

@keyframes loading
  from,
  to
    opacity: 1
  50%
    opacity: .5

.loading-stripes-animation
  background-image: url('/img/load-fff.png')
  background-repeat: repeat
  background-color: color($colors, blue)
  background-size: 75px
  // align-self: stretch
  animation-timing-function: linear
  +animate(loading-stripes,2s,infinite)

@keyframes loading-stripes
  0%
    background-position: 0px 0
  0%
    background-position: -99px 0

.title-animation,
  +animate(title, .6s, 1)

@-webkit-keyframes title
  from
    opacity: 0
    -webkit-transform: translate3d(0, 10%, 0)
  to
    opacity: 1
    -webkit-transform: none

@keyframes title
  from
    opacity: 0
    transform: translate3d(0, 10%, 0)
  to
    opacity: 1
    transform: none

.image-animation
  +animate(image, 1s, 1)

.delay-a
  +delay(.1s)
.delay-b
  +delay(.2s)
.delay-c
  +delay(.3s)
.delay-d
  +delay(.4s)

@-webkit-keyframes image
  from
    opacity: 0
    -webkit-transform: translate3d(0, -10%, 0)
  80%
    -webkit-transform: none
  to
    opacity: 1

@keyframes image
  from
    opacity: 0
    transform: translate3d(0, -10%, 0)
  80%
    transform: none
  to
    opacity: 1

.flash-message-animation
  +animate(flash-message,1s,1)
  +delay(3s)

@-webkit-keyframes flash-message
  from
    opacity: 1
    max-height: 200px
  to
    opacity: 0
    max-height: 0px

@keyframes flash-message
  from
    opacity: 1
    max-height: 200px
  to
    opacity: 0
    max-height: 0px

.spinning-animation
  +animate(spinning,1s,infinite)
  animation-timing-function: linear

@-webkit-keyframes spinning
  from
    transform: rotate(0deg)
  to
    transform: rotate(359deg)

@keyframes spinning
  from
    transform: rotate(0deg)
  to
    transform: rotate(359deg)

.appear-transition-enter-active, .appear-transition-leave-active
  transition: all 200ms

.fade-transition-enter-active, .fade-transition-leave-active
  transition: all 1000ms

.appear-transition-enter
  opacity: 0
  transform: translate3d(0, 20px, 0)

.appear-transition-enter-to,
  opacity: 1
  transform: translate3d(0, 0, 0)


.fade-transition-enter
  opacity: 0
.fade-transition-enter-to
  // transform: none
  opacity: 1
