@function color($map, $key) {
  @if map-has-key($map, $key) {
    @return map-get($map, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

@function hover($key, $amount) {
  @if map-has-key($colors, $key) {
    @return darken(map-get($colors, $key), $amount);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

$colors: (
  white: #FFF,
  dust: #e4e4e4,
  ash: #c3c3c3,
  wool: #5b5b5b,
  night: #222,
  blue: #347cff,
  green: #50e04a,
  red: #ff384c,
  orange: #ffbb00,
  clear: transparent,
);

$themes: (
  community: #823B93,
  culture: #F89F34,
  moving: #FDD729,
  music: #89C54C,
  school: #00A09B,
  nostalgia: #DA519C,
  water: #009EE0
);

$permutation_map: (
  A: color($colors, blue),
  B: color($colors, green),
  C: color($colors, red),
  D: color($colors, orange),
  E: color($colors, dust),
  F: color($colors, white)
);
@each $item,$color in $permutation_map {
  .background-#{$item},
  .permutation-#{$item} {
    background-color: $color;
  }
}

$theme_color_map: (
  community: color($themes, community),
  culture: color($themes, culture),
  moving: color($themes, moving),
  music: color($themes, music),
  school: color($themes, school),
  nostalgia: color($themes, nostalgia),
  water: color($themes, water),
);

@each $item,$color in $theme_color_map {
  .theme-#{$item} {
    border-color: $color;
    color: $color;
    font-weight: bold;
    text-transform: capitalize;
    background: white;
    &.play-button,
    &.card-theme {
      color: color($colors, white);
      background-color: $color;
      font-weight: normal;
      text-transform: none;
      & a {
        color: color($colors, white);
        svg {
          fill: color($colors, white);
        }
      }
    }
  }
}
