label,
input,
button,
select
  font-size: 1.3em
  line-height: 1
  letter-spacing: 0.05em
  display: inline-block
  margin: 0 0 $light * 1.5 0
  padding: $light * 1.5
  border-radius: 0
  border: none
  outline: none

input,
select
  font-weight: 400
  color: $red
  background: $white
  text-overflow: ellipsis
  &::placeholder
    color: $medium-grey
  &:focus
    box-shadow: 0 3px 0 0 $dark-red

select
  background: $dust

input[required]
  font-weight: 700
  box-shadow: 0 3px 0 0 $red
  &::placeholder
    font-style: italic

label
  padding-left: 0
  &.boolean-label
    font-size: 0.75em
    cursor: pointer
    & span
      position: relative
      float: left
      display: flex
      align-items: center
    & span::before
      font-family: 'Lato', sans-serif
      content: ''
      display: block
      float: left
      margin-right: 0.5rem
      background: $dust
      text-align: center
      width: 1.4em
      flex: 0 0 1.4em
      height: 1.4em
    & input[type='checkbox']
      display: none
      &:checked + span::before
        content: '\00D7'
        background: $red
        color: $white

button
  font-family: $header-font
  color: color($colors, white)
  background: color($colors, blue)
  margin-bottom: 3px
  margin-right: 3px
  -webkit-appearance: none
  &.icon-only
    min-width: 1em
    padding: 0
    margin: 0
    background: transparent
    &:hover
      background: transparent
  &.social
    width: 2em
    height: 2em
    border-radius: 50%
    padding: 0.4em
    svg
      display: block
      fill: white
      width: 100%
  &:active
    transform: scale3d(0.97,0.97,1)
  & svg
    max-height: 2.5em

a.button.green,
button.green
  background: color($colors, green)
  &:hover
    background: hover(green, 10)

a.button.orange,
button.orange
  background: color($colors, orange)
  &:hover
    background: hover(orange, 3)

a.button.red,
button.red
  background: color($colors, red)
  &:hover
    background: hover(red, 10)

button,
a.button.blue,
button.blue
  background: color($colors, blue)
  &:hover
    background: hover(blue, 10)

a.button.white,
button.white
  color: color($colors, white)
  svg
    fill: color($colors, white)
  &:hover
    color: hover(blue, 10)

a.button
  @extend button
  &::after,
  &::before
    display: none

a.svg-button
  width: 2em
  height: 2em

.grecaptcha-badge
  display: none

input svg,
label svg,
button svg
  height: 100%
