.u-hide,
  display: none
  opacity: 0
  visibility: hidden
  z-index: $z-hide

.u-load,
.u-load-shape
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: $white
  opacity: 1
  z-index: $z-load

.u-lock,
.u-lock-top
  position: absolute
  top: 0

.z-9
  z-index: 9
.z-99
  z-index: 99
.z-999
  z-index: 999

@media (min-width: $tablet-min)
  .u-reverse
    direction: rtl
    & .grid
      direction: ltr
