$orange: #FF9D00
$golden: #ffc200
$white: #FFF
$dust: #EEE
$light-grey: #EEE
$light-grey-select: #E5E5E5
$medium-grey: #CCC
$dark-grey: #AAA
$text-emphasis: #555
$text: #222
$blue: #209EEC
$red: #FF0066
$dark-red: #E20059
$green: #BFA
$grass: #2ecc71
$sunny-grass: #2ae077
$shady-grass: #23b561
$yellow: #FF0
$pink: #F0F

$minimal: 0.1rem
$light: 0.5rem
$medium: 1rem
$heavy: 2rem

$padding: 1em

$mobile-min: 321px
$mobile-max: 460px
$tablet-min: 461px
$tablet-max: 768px
$desktop-min: 769px
$desktop-max: 959px

.z-999,
.z-hide
  z-index: -999
.z1
  z-index: 1
.z9
  z-index: 9
.z99
  z-index: 99
.z999
  z-index: 999
.z9999,
.z-load,
.z-show
  z-index: 9999

=rotate($amount)
  transform: rotate3d(0,0,1,$amount)
  // transform: rotate($amount)

.rotate1
  +rotate(1deg)
.rotate-1
  +rotate(-1deg)

$header-font: 'Londrina Solid', sans-serif
$text-font: 'Bitter', serif

=hidden-fixed
  position: fixed
  top: 0
  left: -9999px
  opacity: 0

=no-outline
  outline: none
  border: none
  margin: 0
  padding: 0
  border-radius: 0

=reach-ends
  &:first-child
    margin-left: 0
  &:last-child
    margin-right: 0

=activate
  transition: transform 50ms
  &:active
    transform: scale3d(0.95,0.95,0.95)

=no-highlight
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
  -moz-tap-highlight-color: rgba(255, 255, 255, 0)
  -ms-tap-highlight-color: rgba(255, 255, 255, 0)
