@import variables
@import colors
@import normalize

*
  box-sizing: border-box
  -moz-box-sizing: border-box

html,
body
  margin: 0
  padding: 0
  width: 100%
  height: 100%
  font-size: 100%
  font-weight: 400
  font-family: $text-font
  color: $text
  background: $white
  +no-highlight

img
  display: block
  max-width: 100%

@media (min-width: $mobile-min)
  html,body
    font-size: 110%

@media (min-width: $tablet-min)
  html,body
    font-size: 125%

@import grid
@import spacing

@import typography
@import forms

@import utilities
@import print
@import animation
@import alerts
@import navigation

@import pages/index
@import pages/navigation
@import pages/map
@import pages/footer
