{% extends "email/layout/plain.html" %}
{% block message %}
  <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;">
    <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
      Greetings!
    </td>
  </tr>
  <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;">
    <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
      Thank you for following <strong>West Reading Museum of Temporary Art</strong>. We hope you've had a chance to get out and explore the sights and sounds of West Reading this summer.
    </td>
  </tr>
  <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:18px;margin:0;">
    <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:18px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
      <h2 style="font-family:'Londrina Solid','Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:18px;color:#000;font-weight:900;text-align:left;background-color:#FFFFFF;margin:0;padding:0;padding-bottom:5px;border-width: 0;border-bottom-width:3px;border-style:solid;border-color:#ffbb00;">Upcoming Event</h2>
    </td>
  </tr>
  <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;">
    <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
      We'd like to invite you to the <strong>Cherry Street Mural Stroll</strong> during West Reading's Second Friday event happening this week.
    </td>
  </tr>
  <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;">
    <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
      <img src="https://wrmota.org/img/email/muralstroll4.jpg" width="480" style="display:block;width:100%;">
    </td>
  </tr>
  <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;">
    <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
      <strong>When:</strong> Friday, July 13th from 5-7pm<br>
      <strong>Where:</strong> Between 4th and 7th Ave. on Cherry Street (<a href="https://www.google.com/maps/dir/40.3353471,-75.9515862/40.3349917,-75.9459301/@40.3352883,-75.9496407,17.22z/data=!4m2!4m1!3e2" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;font-weight:700;color:#00F;text-decoration:none;">map</a>)
    </td>
  </tr>
  <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;">
    <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
      The Cherry Street Mural Corridor is a collection of public art created over the past 5 years. During this time, individual artists and hundreds of community volunteers have worked together with property owners to create this unique outdoor gallery.
    </td>
  </tr>
  <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;">
    <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
      During the Mural Stroll, you'll have a chance to meet the artists behind many of these projects. There will also be a chance to learn more about the artists and storytellers of WRMOTA and pick up a map. We hope to see you there!
    </td>
  </tr>
  <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:18px;margin:0;">
    <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:18px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
      <h2 style="font-family:'Londrina Solid','Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:18px;color:#000;font-weight:900;text-align:left;background-color:#FFFFFF;margin:0;padding:0;padding-bottom:5px;border-width: 0;border-bottom-width:3px;border-style:solid;border-color:#50e04a;">Support WRMOTA</h2>
    </td>
  </tr>
  <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;">
    <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
      WRMOTA is actively seeking contributions to help maintain our app and website, document the installed artworks, archive the stories and hopefully seed future projects like it.
    </td>
  </tr>
  <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;">
    <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
      <a href="https://gofundme.com/wrmota" class="btn-primary" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;color:#FFF;text-decoration:none;line-height:2em;font-weight:bold;text-align:center;cursor:pointer;display:inline-block;text-transform:capitalize;background-color:#ff384c;margin:0;border-color:#ff384c;border-style:solid;border-width:10px 20px;width:100%;text-align:center">Donate</a>
    </td>
  </tr>
  <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;">
    <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
      If you've been enjoying learning about the unique personal histories of the West Reading community and seeing artwork from artists all around the world, we hope you'll consider supporting the project.
    </td>
  </tr>
  <tr style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;">
    <td class="content-block" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;vertical-align:top;margin:0;padding:0 10px 20px 10px;" valign="top">
      To learn more about making a contribution, visit our <a href="https://gofundme.com/wrmota" style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;box-sizing:border-box;font-size:16px;margin:0;font-weight:700;color:#00F;text-decoration:none;">GoFundMe</a>.
    </td>
  </tr>
{% endblock message %}
